.fill{
    
    flex: 1 1 auto;
  }

.fill1{
    margin-left: 50px;
  }
  .fill2{
    margin-left: 70px;
  }
  .strikethrough{
      text-decoration: line-through;
  }
  .nav{
    background-color:rgb(20, 16, 16) ;
    color: white;
  }
  .sty{
    background-color: rgba(199, 199, 199, 0.801);
    color:black;
  }
  .bgc{
    background-color: whitesmoke;
  }