<!-- orders.component.html -->
<h3 class="text-center mt-3">Your Orders</h3>
<mat-card class="order-card" *ngFor="let order of orders">
  <div class="order-card-details">
    <mat-card-title>Order ID: {{ order.orderID }}</mat-card-title>
    <mat-card-subtitle>Date: {{ order.orderDate | date }}</mat-card-subtitle>
    <mat-card-subtitle>Total: ${{ order.totalAmount }}</mat-card-subtitle>
  </div>
  <mat-card-content>
    <p><strong>Delivered to:</strong></p>
    <p>{{ order.shippingInformation.fullName }}</p>
    <p>{{ order.shippingInformation.address1 }}  {{ order.shippingInformation.address2 }}</p>
    <p>{{ order.shippingInformation.city }}, {{ order.shippingInformation.state }}</p>
    <p>{{ order.shippingInformation.country }}, {{ order.shippingInformation.zipcode }}</p>
  </mat-card-content>
  <mat-card-actions class="mr-3">
    <button mat-flat-button color="primary" [routerLink]='["/orders/",order.orderID]'>View Items</button>
  </mat-card-actions>
</mat-card>
