<mat-toolbar class="nav">
    <span class="special">E-Commerce</span>

    <!-- This fills the remaining space of the current row -->
    <span class="fill"></span>

    <!-- Add conditional navigation links for Sign In, Register, and Sign Off -->
    <button mat-button *ngIf="!isTokenInLocalStorage() && !isOnLoginPage()" [routerLink]='["/login"]'>Sign In</button>
    <button mat-button *ngIf="!isTokenInLocalStorage() && !isOnRegisterPage()" [routerLink]='["/register"]'>Register</button>
    <button mat-button *ngIf="isTokenInLocalStorage()" (click)="signOff()">Sign Off</button>
</mat-toolbar>

<router-outlet></router-outlet>
