.fill{
    
    flex: 1 1 auto;
  }

.fill1{
    margin-left: 20px;
  }

  .fill2{
    margin-left: 100px;
  }  
  .nav{
    background-color:rgb(20, 16, 16) ;
    color: white;
  }
  .sty{
    background-color: whitesmoke;height: 90%;
  }